/* ====================================
   1. Base Styles (Reset, Fonts, Scroll)
==================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: inherit; 
  pointer-events: auto;       
}
html {
  scroll-behavior: smooth;
  font-size:9px;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

main{
    padding-top:5rem;
}



/* ====================================
   2. Font Utilities
==================================== */
.roboto-mono-hard {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-medium {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-soft {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

/* ====================================
   3. Navbar
==================================== */
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
    
  height: 80px; 
  background-color: rgb(0, 0, 0);
  color:white;
  left:0;
  top:0;
  position:fixed;
  width:100%;
  z-index:1000;
}

.logo{
  padding-left:15px;
  font-size:30px;
}

.left-navbar,.right-navbar{
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s; 
  transform: translateY(-5px);
}

.left-navbar,.right-navbar,.right-navbar-title,.right-navbar-title2{
  display:flex;
  align-items: center;
}

.left-navbar{
  justify-content: flex-start;
  gap:10px;
  font-size:30px;
}

.right-navbar{
  justify-content: center;
  display:flex;
  font-size:20px;
}

.right-navbar-title,.right-navbar-title2,.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  transition:color 0.5s ,transform 0.5s ease;
}
.right-navbar-title:hover,.right-navbar-title2:hover,.logo:hover,.check-side-project-link:hover{
  color: rgb(250, 158, 72);
  transform: translateY(-0.3rem);
  cursor: pointer;
}

.right-navbar-title{
  height: 50px;  
  width:150px;
}

.right-navbar-title2{
  height: 50px;   
  width:170px;
}

.navbar-img{
  width:50px;
  height:50px;
  object-fit: contain;
}

.navbar-img-github{
  padding-right:5px;
  width:40px;
  height:45px;
  object-fit: contain;
}

/* ====================================
   4. Sections: Backgrounds
==================================== */

.my-background-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url("assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 90vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:1rem 3rem 0rem;
  
}

.my-background-2{
  min-height:80vh;
  background-color: rgb(0, 0, 0);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:10rem;
  width:100vw;
  padding:1rem 3rem 0rem

}

body {
  background-color: black;
}

/* ====================================
   5. About Me Section
==================================== */
.about-me-card{
  border:solid rgb(253, 122, 0);
  box-shadow: 0 10px 20px rgb(180, 89, 4), 0 6px 6px rgb(255, 123, 0);
  position: relative;
  padding:3rem;
  border-radius: 3rem;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transform: translateY(4rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s; 
  max-width:1200px;
  height:auto;
}


.about-me-inner{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
}

.me-img{
  display :block;
  width: 300px;                
  height: auto; 
  transform: translateY(2rem);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s; 
 
}

.about-me-inner-right,.about-me-inner-left{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
    
}

.about-me-inner-right{
  width:70%;
  padding:10px;
  gap:2rem;
}

.about-me-inner-left{
  width:30%;
}

.about-me-heading-message{
  color: rgb(253, 135, 0);
  font-size:3.5rem;
}

.about-me-message{
  color: rgb(253, 122, 0);
  font-size:2rem;
}

.skills-label,.skills-label-top{
  font-size:2.5rem;
  color:rgb(253, 122, 0);

}

.skills-label{
   display: block;
}

.skills-label-top{
  display:none;
}
.skills{
  padding:2rem 3rem;
  color: rgb(253, 122, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:3rem;
  flex-wrap: wrap;
}

.skill-box{
  border: 2px solid rgb(253, 122, 0); 
  border-radius:2rem ;
  width:15rem;
  height:4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:transform 0.5s ease;
  font-size:2rem;
}

.skill-box:hover{
  transform: translateY(-0.5rem);
}


/* ====================================
   6. Projects Section
==================================== */
.projects-title{
  color: rgb(253, 135, 0);
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  font-size:5rem;
}

.check-side-project-link{
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: rgb(165, 81, 2);
  transition:color 0.5s ,transform 0.5s ease;
}

.project-box{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border:solid rgb(255, 138, 29);
  background-color:rgb(0, 0, 0) ;
  gap:1rem;
  height:auto;
    
}

.project-box-title{
  text-align: left;
  padding-left:2rem;
  color: rgb(250, 179, 99);
  font-size:3.5rem;
  padding-top:1rem;
  padding-bottom:1rem;
}

.project-scroll-bar{
  display:grid;
  grid-auto-flow: column;
  grid-auto-columns:50rem;
  gap:1rem;
  border:solid 1px rgb(255, 159, 70);
  padding:4rem 0rem;
  scroll-padding-inline: 3rem;
  overflow-x: auto;
  overscroll-behavior-inline:contain;
  user-select: none;      
  -webkit-user-select: none;  
  -ms-user-select: none;
}

.project-scroll-bar::-webkit-scrollbar {
  height: 1.5rem; 
}

.project-scroll-bar::-webkit-scrollbar-track {
  background: #111; 
  border-radius: 10px;
}

.project-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(255, 136, 0);
  border-radius: 10px;
  border: 4px solid #111; 
}

.project-scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 160, 50); 
}

.project-card{
  padding:3rem;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border:solid 2px rgb(0, 0, 0);
  background:rgb(253, 114, 0);
  transition: box-shadow 0.5s ease;
  width:50rem;
  height:50rem;
  margin:0rem 2rem;
  gap:1rem;
  user-select: none;      
  -webkit-user-select: none;  
  -ms-user-select: none;
}

.project-card:hover{
  box-shadow: 0px 10px  20px rgb(180, 89, 4), 0px 6px  6px rgb(255, 123, 0);
  cursor: pointer;
}

.project-card:hover *{
  transform: translateY(-0.5rem);
}

.project-card-img{
  object-fit: cover;
  width:9em;
  height:9rem;
  transition:transform 0.5s ease;
}
.project-card-title{
  text-align: center;
  font-size:3rem;
  transition:transform 0.5s ease;
}

.project-mini-description{
  text-align: center;
  font-size:2rem;
  transition:transform 0.5s ease;
}

.project-card-more-details{
  margin-top: auto;
  color:rgb(0, 0, 0);
  font-size:2rem;
  text-decoration: underline;
  transition:transform 0.5s ease;
}



/* ====================================
  7. Hidden Boxes Overlay
==================================== */
.background-blur{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  position:fixed;
  top:5rem;
  left:0;
  background: rgba(0, 0, 0, 0.7);
  width:100vw;
  height:100dvh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.background-blur.active{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

}


.hidden-box-section.active{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hidden-box{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: grid;
  padding:2rem 0rem;
  color:rgb(253, 122, 0);
  box-shadow: 0 10px 20px rgb(180, 89, 4), 0 6px 6px rgb(255, 123, 0);
  margin:3rem;
  border:solid 2px rgb(253, 122, 0);
  background:rgb(0, 0, 0);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 90%;
  position: absolute;
  box-sizing: border-box;
}

.hidden-box.active{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hidden-box-left{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  gap:5rem;
  box-sizing: border-box;
  padding: 0rem 1rem;
}
.hidden-box-left .project-title-section{
  display: inline-block;
  padding:0;
}

.video-container{
  width:90%;
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  display: block; 
}
.github-btn{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}


.hidden-box-right{
  
  display:flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height:100%;
  width:100%;
  gap:3rem;
  padding:1rem;
}

.project-title-section{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  gap:1rem;

  width:100%;
}



.project-title-section .project-card-img{
  color:rgb(253, 122, 0);
  width:8.5rem;
  height:8.5rem;
}
.tech-stack{
  margin-top: auto;
  margin-bottom:2rem;
  padding-top:3rem;
  color:rgb(253, 122, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:3rem;
  flex-wrap: wrap;
}

.tech-label{
  font-size:3.5rem;
}

.tech-box{
  background-color: black;;
  border: 2px solid rgb(255, 115, 0); 
  border-radius:3rem ;
  width:15rem;
  height:4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  transition:transform 0.5s ease;
  font-size:2rem;
}
.hidden-box-Description{
  text-align: center;
  font-size:2.5rem;
  transition:transform 0.5s ease;
  padding:0rem 2rem;
}

.tech-box:hover{
  transform: translateY(-0.5rem);
}

.hidden-box .right-navbar-title{
  font-size: 3rem;
}

.hidden-box .navbar-img-github{
  width:5rem;
  height:5rem;
}

.exit-button-container{
  display: flex;
  justify-content: flex-end;
  padding-bottom:2rem;
}

.exit-button-overlay-box{
  position:absolute;
  right:5%;
  top:10%;
  z-index: 50;
  background-color: black;;
  border: 2px solid rgb(255, 115, 0); 
  color: rgb(255, 115, 0);
  font-size:3rem;
  width:5rem;
  height:5rem;
  transition: box-shadow 0.5s ease;
}

.exit-button-overlay-box:hover{
  cursor: pointer;
  box-shadow: 3px 0px  20px rgb(180, 89, 4), 0px 6px  6px rgb(255, 123, 0);
}

.demo-img{
  object-fit: contain;
  margin: 0;
  width:50rem;
  height:40rem; 
}

/* ====================================
  8. Footer
==================================== */
.foot-background{
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 5rem 5rem 5rem;
}

.footer-text{
  text-align: center;
}
.footer-content{
  width:100%;
  color:white;
  font-size:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}

.footer-links{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:3rem;
}

.footer-link{
  display: inline-block;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:color 0.5s ,transform 0.5s ease;
}

.footer-link:hover{
  color: rgb(250, 158, 72);
  transform: translateY(-0.3rem);
  cursor: pointer;

}


.right-navbar-title,.right-navbar-title2,.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  transition:color 0.5s ,transform 0.5s ease;
}
.right-navbar-title:hover,.right-navbar-title2:hover,.logo:hover,.check-side-project-link:hover{
  color: rgb(250, 158, 72);
  transform: translateY(-0.3rem);
  cursor: pointer;
}

.navbar-img{
  width:50px;
  height:50px;
  object-fit: contain;
}

.navbar-img-github{
  padding-right:5px;
  width:40px;
  height:45px;
  object-fit: contain;
}
/* ====================================
  9. Animations
==================================== */

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ====================================
  10. Media Queries
==================================== */

@media (max-width: 1230px) {
    html{
      font-size: 8.5px;
    }
    .about-me-inner{
      gap:5px;
    }

    .about-me-inner-left{
      width:30%;
  }

  .about-me-inner-right{
    padding:10px 5px;
    gap:2rem;
  }

  .me-img{
    width: 90%;                
    height: auto; 
  }



} 

@media (max-width: 1000px) {

  .hidden-box{
    grid-template-columns: 1fr;
  }

  .switch-2{
  display:block;
  }

  .switch{
  display:none;
  }

  .hidden-box-left{
    padding: 3rem 0rem;
  }

  .exit-button-overlay-box{
    right:0%;
    top:80px;
  }

 .tech-stack{
    margin-bottom:2rem;

  }

  .video-container{
    height:30vh;
  }

  .project-title-section{
    font-size: 2rem;;
  }

  .demo-img{
    width:30rem;
    height:40rem; 
  }

  .exit-button-overlay-box{
    right:5%;
    top:5%;
  }
}


@media (max-width: 850px) {

  html{
    font-size: 5.5px;
  }

  .navbar{
    height: 60px; 
  }

  .left-navbar{
    justify-content: flex-start;
    gap:10px;
    font-size:20px;
  }

  .right-navbar{
    justify-content: center;
    display:flex;
    font-size:15px;
  }

  .hide-text-w-small{
    display:none;
  }

  .right-navbar-title{ 
    width:50px;
  }

  .right-navbar-title2{
    width:50px;
  } 

  .logo{
    font-size:25px;
  }

  .about-me-inner{
    gap:5px;
  }

  .about-me-inner-left{
    width:30%;
  }

  .about-me-inner-right{
    padding:5px;
    gap:2rem;
    width:100%;
  }

  .about-me-card{

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:50px 20px;
    width:600px;
  }


  .me-img{
    width: 200px;                
    height: auto; 
  }

  .about-me-inner{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:10px;
  }

  .about-me-inner-right,.about-me-inner-left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

  .about-me-heading-message,.about-me-message{
    text-align: center;
  }

  .skills{
    justify-content: center;
  }
  .skills-label{
    display:none;
  }
  .skills-label-top{
    display:block;
  }

  .video-container{
    height:20dvh;
  }


  .project-title-section .project-card-img{
    width:6.5rem;
    height:6.5rem;
  }
} 


@media (max-width: 630px) {
  .project-card{
    padding:2rem;
    width:45rem;
    height:50rem;
    margin:0rem 2rem;
  } 
  .project-card-img{
    width:9em;
    height:9rem;
  }
  .project-card-title{
    font-size:3rem;
  }



}



@media (max-width: 400px) {
   html{
    font-size: 5.5px;
  }
  .logo{
    font-size:20px;
}

}